<% cache @icons do %>
<div class="container" id="iconoslist">
  <h1 class="cented">Listing icons</h1>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>PNG</th>
      <th>Name</th>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @icons.each do |icon| %>
      <tr>
        <td><%= image_tag(icon.path, width: "64") %></td>
        <td><%= icon.name %></td>
        <td><%= icon.path %></td>
        <td><%= link_to 'Show', icon %></td>
        <td><%= link_to 'Edit', edit_icon_path(icon) %></td>
        <td><%= link_to 'Destroy', icon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  

  <button type="button" class="btn btn-success"><%= link_to 'New Icon', new_icon_path %></button>

<div>
  
</div>

<code>License: Icons made by madebyoliver from www.flaticon.com </code>  
</div>
<% end %>
